<template>
  <CDropdown
      add-menu-classes="pt-0"
      class="c-header-nav-items"
      inNav
      placement="bottom-end"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          <img
              class="c-avatar-img "
              src="img/avatars/teacher.png"
          />
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownHeader class="text-center" color="light" tag="div">
      <strong>Account</strong>
    </CDropdownHeader>

    <div class="pl-3">
      <CIcon height="12" name="cil-user"/>
      <small>{{ userDetail.username }}</small><br/>
      <CIcon height="12" name="cil-envelope-closed"/>
      <small>{{ userDetail.email }}</small><br/>
      <CIcon height="12" name="cil-phone"/>
      <small>{{ userDetail.tel }}</small>
    </div>

    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-bell"/> Updates-->
    <!--      <CBadge color="info" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-envelope-open" /> Messages-->
    <!--      <CBadge color="success" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-task" /> Tasks-->
    <!--      <CBadge color="danger" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-comment-square" /> Comments-->
    <!--      <CBadge color="warning" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownHeader-->
    <!--      tag="div"-->
    <!--      class="text-center"-->
    <!--      color="light"-->
    <!--    >-->
    <!--      <strong>Settings</strong>-->
    <!--    </CDropdownHeader>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-user" /> Profile-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-settings" /> Settings-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-dollar" /> Payments-->
    <!--      <CBadge color="secondary" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-file" /> Projects-->
    <!--      <CBadge color="primary" class="mfs-auto">{{ itemsCount }}</CBadge>-->
    <!--    </CDropdownItem>-->
    <CDropdownDivider/>
    <!--    <CDropdownItem>-->
    <!--      <CIcon name="cil-shield-alt" /> Lock Account-->
    <!--    </CDropdownItem>-->
    <CDropdownItem @click="logout">
      <CIcon name="cil-lock-locked"/>
      Logout
    </CDropdownItem>
  </CDropdown>
</template>

<script>
export default {
  name: 'TheHeaderDropdownAccnt',
  props: {
    userDetail: Object
  },
  data() {
    return {
      itemsCount: 42
    }
  },
  methods: {
    logout() {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.c-icon {
  margin-right: 0.3rem;
}
</style>
