<template>
  <information-table
      :fields="fields"
      :items="items"
      :profileId="profileId"
      @deleteFile="deleteFile"
      @fileAccepted="fileAccepted"/>
</template>

<script>
import InformationTable from "@/components/InformationTable";

export default {
  name: "files",
  components: {InformationTable},
  props: {
    items: Array,
    fields: Array,
    profileId: String
  },
  methods: {
    fileAccepted(fileId) {
      this.$emit("fileAccepted", fileId)
    },
    deleteFile(fileId) {
      this.$emit("deleteFile", fileId)
    }
  }
}
</script>
