<template>
  <div>
    <CSelect
        :horizontal="{label:'col-sm-1',input:'col-sm-11'}"
        :options="userOptions"
        @update:value="onSelectUser"
        label="Receiver"
        placeholder="Please select a receiver"
        v-if="profile.role==='admin'"
    />
    <CRow>
      <CCol class="col-sm-1 pr-0">
        Description
      </CCol>
      <CCol class="col-sm-11">
        <CTextarea placeholder="Please random new Exam set from this Table of Specification"
                   v-model="form.description"/>
      </CCol>
    </CRow>
    <input @change="selectFile" class="mt-2" id="file" multiple ref="file"
           type="file"/><br>
    <hr>
    <CRow>
      <CCol class="text-right">
        <CButton :disabled="sentValidation" @click="submitFile" color="success">
          <CIcon name="cil-send"/>
          Send file
        </CButton>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import {mapGetters} from "vuex"

export default {
  name: "sendFile",
  data() {
    return {
      userOptions: [],
      form: {
        file: {},
        receiver: "",
        description: ""
      }
    }
  },
  mounted() {
    this.$store.dispatch("profile/onFetchUserInformation")
    if (this.profile.role === "admin") {
      this.$store.dispatch("user/onSetUsers")
    }
  },
  computed: {
    ...mapGetters({
      users: "user/getUsers",
      profile: "profile/userInformation"
    }),
    sentValidation() {
      if (this.profile.role === "admin") {
        if (this.form.receiver === "" || this.form.description === "" || this.form.file.name === undefined) {
          return true
        } else {
          return false
        }
      } else {
        if (this.form.description === "" || this.form.file.name === undefined) {
          return true
        } else {
          return false
        }
      }
    }
  },
  watch: {
    users(value) {
      for (let i = 0; i < value.length; i++) {
        let body = {}
        if (value[i]._id !== this.profile.id) {
          body.value = value[i]
          body.label = value[i].firstName + " " + value[i].lastName
        }
        this.userOptions.push(body)
      }
    },
  },
  methods: {
    onSelectUser(e) {
      this.form.receiver = e._id
    },
    selectFile() {
      this.form.file = this.$refs.file.files[0];
    },
    submitFile() {
      if (this.form.receiver === "") delete this.form.receiver
      this.$store.dispatch("file/onSendFile", this.form)
    }
  }
}
</script>
