<template>
  <information-table
      :fields="fields"
      :items="courses"
      @deleteItem="deleteCourse"
      @editItem="editCourse"/>
</template>

<script>
import InformationTable from "@/components/InformationTable";

export default {
  name: "courses",
  components: {InformationTable},
  props: {
    courses: Array,
    fields: Array
  },
  methods: {
    editCourse(id) {
      this.$emit("editCourse", id)
    },
    deleteCourse(id) {
      this.$emit("deleteCourse", id)
    }
  }
}
</script>
