<template>
  <information-table
      :fields="fields"
      :items="items"
      @teacher="users"/>
</template>

<script>
import InformationTable from "@/components/InformationTable";

export default {
  name: "users",
  props: {
    items: Array,
    fields: Array
  },
  components: {InformationTable},
  methods: {
    users(value) {
      this.$emit("users", value)
    }
  }
}
</script>
