<template>
  <CDataTable
      :fields="fields"
      :items="items"
      :items-per-page="5"
      pagination
      sorter>
    <template #no="{item,index}">
      <td>{{ index + 1 }}</td>
    </template>
    <template #size="{item}">
      <td>{{ (item.size / 1000).toFixed(2) }} KB</td>
    </template>
    <template #questionPhoto="{item}">
      <td>
        <label>{{ item.files.questionPhoto.length > 0 ? item.files.questionPhoto.length : "No" }}</label>
      </td>
    </template>
    <template #answers="{item}">
      <td v-if="checkAnswerType(item)==='Text'">
        <div :key="index" v-for="(answer,index) in item.answers">
          <label :class="answer.isCorrect ? 'text-success':''">{{ answer.answerText }}</label><br/>
        </div>
      </td>
      <td v-if="checkAnswerType(item)==='Photo'">
        <label :class="item.answers[0].isCorrect ? 'text-success':''">1. {{ item.files.answerA.name }}</label><br/>
        <label :class="item.answers[1].isCorrect ? 'text-success':''">2. {{ item.files.answerB.name }}</label><br/>
        <label :class="item.answers[2].isCorrect ? 'text-success':''">3. {{ item.files.answerC.name }}</label><br/>
        <label :class="item.answers[3].isCorrect ? 'text-success':''">4. {{ item.files.answerD.name }}</label><br/>
        <label :class="item.answers[4].isCorrect ? 'text-success':''">5. {{ item.files.answerE.name }}</label><br/>
      </td>
    </template>
    <template #questionPhotoOptions="{item, index}">
      <td>
        <CButton @click="deleteImage(index)" color="danger">Delete</CButton>
      </td>
    </template>
  </CDataTable>
</template>

<script>
export default {
  name: "ExamTable",
  props: {
    fields: Array,
    items: Array
  },
  methods: {
    checkAnswerType(item) {
      if (item.answers[0].answerText !== "" || item.answers[1].answerText !== "" || item.answers[2].answerText !== "" || item.answers[3].answerText !== "" || item.answers[4].answerText !== "") {
        return "Text"
      } else {
        return "Photo"
      }
    },
    deleteImage(index) {
      this.$emit("deleteQuestionImage", index)
    }
  }
}
</script>
