<template>
  <CDataTable
      :fields="fields"
      :items="items"
      :items-per-page="7"
      items-per-page-select
      pagination
      sorter
      table-filter>
    <template #courseCode="{item}">
      <td>
        <label>{{ item.courseCode }}</label>
      </td>
    </template>
    <template #name="{item}">
      <td>
        <label>{{ item.name }}</label>
      </td>
    </template>
    <template #show_details="{item, index}">
      <td class="py-2">
        <CButton
            @click="toggleDetails(item, index)"
            color="primary"
            size="sm"
            square
            variant="outline"
        >
          {{ Boolean(item._toggled) ? 'Close' : 'Topics' }}
        </CButton>
      </td>
    </template>
    <template #editOptions="{item}">
      <td>
        <CButton @click="editItem(item._id)" class="text-white mr-2" color="warning">แก้ไข</CButton>
        <CButton @click="deleteItem(item._id)" color="danger">ลบ</CButton>
      </td>
    </template>
    <template #details="{item}">
      <CCollapse :duration="collapseDuration" :show="Boolean(item._toggled)">
        <CCardBody class="p-1">
          <topic-table
              :fields="topicFields"
              :items="item.topics"
              class="topic-table"
          />
        </CCardBody>
      </CCollapse>
    </template>
  </CDataTable>
</template>

<script>
import TopicTable from "@/components/TopicTable";

export default {
  name: "MainTopicTable",
  components: {TopicTable},
  props: {
    items: Array,
    fields: Array
  },
  data() {
    return {
      collapseDuration: 0,
      topicFields: [
        {key: "topicName", label: "Topic"},
        {key: "options", label: "#", _style: "text-align:right"}
      ]
    }
  },
  methods: {
    editItem(id) {
      this.$emit("editItem", id)
    },
    deleteItem(id) {
      this.$emit("deleteItem", id)
    },
    toggleDetails(item, index) {
      this.$set(this.items[index], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => {
        this.collapseDuration = 0
      })
    }
  }
}
</script>

<style scoped>
.topic-table:hover {
  background-color: none !important;
}
</style>
