<template>
  <CCard>
    <CCardHeader>
      <label class="mb-0 font-lg font-weight-bold">Change Password</label>
    </CCardHeader>
    <CCardBody class="pb-0">
      <CInput label="Current Password" placeholder="Please enter your current password" type="password"
              v-model="form.currentPassword"/>
      <CInput label="New Password" placeholder="Please enter your new password" type="password"
              v-model="form.newPassword"/>
      <CInput label="Confirm Password" placeholder="Please confirm your password" type="password"
              v-model="confirmPassword"/>
    </CCardBody>
    <CCardFooter>
      <CButton @click="cancel" class="mr-2" color="light">Reset</CButton>
      <CButton :disabled="validationPassword" @click="confirm" color="success">Confirm</CButton>
    </CCardFooter>
  </CCard>
</template>

<script>
export default {
  name: "ChangePassword",
  data() {
    return {
      form: {
        currentPassword: "",
        newPassword: "",
      },
      confirmPassword: ""
    }
  },
  computed: {
    validationPassword() {
      if (this.form.newPassword !== "" && this.form.newPassword === this.confirmPassword && this.form.newPassword.length >=6 ) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    cancel() {
      this.form.currentPassword = ""
      this.form.newPassword = ""
      this.confirmPassword = ""
    },
    confirm() {
      this.$store.dispatch("auth/onChangePassword", this.form)
    }
  }
}
</script>
