<template>
  <div class="c-app flex-row align-items-center background">
    <CContainer>
      <CCard class="m-auto card-container text-white font-lg login-box">
        <CCardBody>
          <img class="image-logo mb-2" src="@/assets/img/logo.png">
          <CRow class="mb-3">
            <CCol class="text-center">
              <label class="font-weight-bold font-2xl">Mae Fah Luang University</label><br/>
              <label class="pt-0 login-text">Item Banking and Analysis System</label>
            </CCol>
          </CRow>
          <form @keyup.enter="loginTrigger">
            <CInput label="Username" placeholder="username" v-model="username"/>
            <CInput label="Password" placeholder="password" type="password" v-model="password"/>
          </form>
          <CButton :disabled="buttonTrigger" @click="loginTrigger" class="w-100 mt-3 mb-2" color="success">Login
          </CButton>
        </CCardBody>
      </CCard>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: 'Login',
  created() {
    this.$store.dispatch("auth/onLogout")
  },
  computed: {
    buttonTrigger() {
      return this.username && this.password && this.password.length >= 6 ? false : true
    }
  },
  data() {
    return {
      username: "",
      password: ""
    }
  },
  methods: {
    loginTrigger() {
      if (this.password.length >= 6) {
        let body = {
          username: this.username,
          password: this.password
        }
        this.$store.dispatch("auth/onLogin", body)
      }
    }
  }
}
</script>

<style scoped>
.background {
  /*background-color: #f9484a;*/
  background-image: linear-gradient(315deg, rgba(255, 165, 0, .45), rgba(255, 0, 0, .45)), url("../assets/img/background1.jpg");
  /*background-image: linear-gradient(to right bottom, rgba(255, 0, 0,0.6), rgba(255, 99, 71, 1)), url("../assets/img/background-image-login.jpeg");*/
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.image-logo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-container {
  border: 0;
  background-color: rgba(0, 0, 0, .30);
}

.login-box {
  width: 35%;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .image-logo {
    width: 28%;
  }

  .login-text {
    font-size: 16px;
  }

  .login-box {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .image-logo {
    width: 35%;
  }

  .login-text {
    font-size: 16px;
  }

  .login-box {
    width: 70%;
  }
}

@media only screen and (max-width: 420px) {
  .image-logo {
    width: 60%;
  }

  .login-text {
    font-size: 12px;
  }

  .login-box {
    width: 80%;
  }
}
</style>
