<template>
  <div>
    <CCard>
      <CCardHeader>
        <CRow>
          <CCol class="align-self-center">
            <label class="mb-0 font-lg font-weight-bold">Exam</label>
          </CCol>
          <CCol class="text-right">

            <CButton @click="changeState" class="text-white mr-2" color="success" v-if="defaultState">
              <CIcon height="36" name="cil-library-add"/>
            </CButton>

            <CButton @click="changeState" class="text-white mr-2" color="danger" v-if="!defaultState">
              <CIcon height="36" name="cil-x"/>
            </CButton>
          </CCol>
        </CRow>
      </CCardHeader>
      <CCardBody class="pt-0">
        <CCollapse :show="defaultState">
          <exams
              :fields="fields"
              :items="exams"/>
        </CCollapse>
        <add-exam
            class="mt-3"
            v-if="!defaultState"/>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import {mapGetters} from "vuex"
import Exams from "@/components/exam/exams";
import AddExam from "@/components/exam/addExam";

export default {
  name: "MainExam",
  components: {AddExam, Exams},
  data() {
    return {
      defaultState: true,
      fields: [
        {key: "no", label: "No.", _style: "width: 3%"},
        {key: "question", label: "Question", _style: "width:15%"},
        {key: "questionTopic", label: "Topic", _style: "width:8%"},
        {key: "questionType", label: "Type", _style: "width:5%"},
        {key: "keyword", label: "Keyword", _style: "width:5%"},
        {key: "numberOfUse", label: "Used", _style: "width:3%"},
      ]
    }
  },
  mounted() {
    this.$store.dispatch("exam/onSetExams")
  },
  computed: {
    ...mapGetters({
      exams: "exam/getExams"
    })
  },
  watch: {
    exams() {
      this.defaultState = true
    }
  },
  methods: {
    changeState() {
      this.defaultState = !this.defaultState
    }
  }
}
</script>
