<template>
  <CCard>
    <CCardHeader>
      <CRow>
        <CCol class="align-self-center">
          <label class="mb-0 font-lg font-weight-bold">Exam set</label>
        </CCol>
        <CCol class="text-right">
          <CButton @click="changeState" class="text-white mr-2" color="success" v-if="defaultState">
            <CIcon height="36" name="cil-library-add"/>
          </CButton>

          <CButton @click="changeState" class="text-white mr-2" color="danger" v-if="!defaultState">
            <CIcon height="36" name="cil-x"/>
          </CButton>
        </CCol>
      </CRow>
    </CCardHeader>
    <CCardBody class="pt-0">
      <examsets
          :fields="fields"
          :items="examsets"
          @examSetAction="examSetAction"
          v-if="defaultState && !readExamSetState"/>
      <add-exam-set
          class="mt-3"
          v-if="!defaultState && !readExamSetState"/>
      <exam-set-information
          :examSet="singleExamset"
          @changeToDefaultState="changeToDefaultState"
          v-if="readExamSetState"/>
    </CCardBody>
  </CCard>
</template>

<script>
import {mapGetters} from "vuex"
import Examsets from "@/components/examset/examsets";
import AddExamSet from "@/components/examset/addExamSet";
import ExamSetInformation from "@/components/examset/examSetInformation";

export default {
  name: "MainExamSet",
  components: {ExamSetInformation, AddExamSet, Examsets},
  data() {
    return {
      tempId: "",
      defaultState: true,
      fields: [
        {key: "no", label: "No.", _style: "width: 3%"},
        {key: "examSetCode", label: "Code", _style: "width:25%"},
        {key: "examSetName", label: "Name", _style: "width:25%"},
        {key: "examSetNumberOfUse", label: "Number of Used", _style: "width: 25%"},
        {key: "examSetOptions", label: "#", _style: "width:25%"}
      ],
      readExamSetState: false
    }
  },
  mounted() {
    this.$store.dispatch("examset/onSetExamSets")
  },
  computed: {
    ...mapGetters({
      examsets: "examset/getExamSets",
      actionStatus: "action/actionStatus",
      currentExamSet: "examset/getCurrentExamSet",
      singleExamset: "examset/getSingleExamset"
    })
  },
  watch: {
    actionStatus(value) {
      if (value) {
        this.deleteExamSet()
      }
    },
    examsets(value) {
      this.defaultState = true
      this.readExamSetState = false
    },
    currentExamSet(value) {
      this.readExamSetState = true
    },
    singleExamset(value) {
      this.readExamSetState = true
    }
  },
  methods: {
    changeState() {
      this.defaultState = !this.defaultState
    },
    changeToDefaultState() {
      this.defaultState = true
      this.readExamSetState = false
    },
    examSetAction(value) {
      if (value.type === "description") {
        this.$store.dispatch("examset/onGetSingleExamset", value.item.examSetId)
      } else if (value.type === "download") {
        console.log("Download", value.item.examSetId)
      } else if (value.type === "delete") {
        this.tempId = value.item.examSetId
        let body = {
          title: "Notification",
          color: "warning",
          status: true,
          text: "Do you really want to delete the file?"
        }
        this.$store.commit("modal/onSetConfirmActionModalStatus", body)
      }
    },
    deleteExamSet() {
      this.$store.dispatch("examset/onDeleteExamset", this.tempId)
      this.$store.commit("modal/onSetConfirmActionModalStatus", {status: false})
    }
  }
}
</script>
