<template>
  <CCard>
    <CCardHeader class="font-weight-bold">Formula</CCardHeader>
    <CCardBody>
      <img class="mb-3" src="@/assets/img/formula/formula1.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula2.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula3.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula4.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula5.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula6.png"/>
      <hr>
      <img class="mb-3" src="@/assets/img/formula/formula7.png"/>
    </CCardBody>
  </CCard>
</template>

<script>
export default {
  name: "MainFormula",
}
</script>

<style scoped>
img{
  width: 90%;
}
</style>
