<template>
  <CRow>
    <CCol>
      <CCard>
        <CCardHeader>
          <strong>Question Type</strong>
        </CCardHeader>
        <CCardBody class="pt-0">
          <information-table
              :fields="field"
              :items="questionTypes"
              @deleteItem="deleteItem"
              @editItem="editItem"
          />
        </CCardBody>
      </CCard>
    </CCol>
    <CCol col="4">
      <CCard>
        <CCardHeader>
          {{ this.id ? "Edit" : "Add" }} Question Type
        </CCardHeader>
        <CCardBody>
          <CInput class="mb-4" label="Question Type" placeholder="Fill in the type" v-model="name"/>
          <CButton @click="questionTypeHandle('ADD')" class="mr-2" color="success" v-if="this.id === ''">Add</CButton>
          <CButton @click="questionTypeHandle('EDIT')" class="mr-2" color="info" v-if="this.id !== ''">Update</CButton>
          <CButton @click="emptyInitialValue" color="danger">Cancel</CButton>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import {mapGetters} from "vuex"
import InformationTable from "@/components/InformationTable";

export default {
  name: "MainQuestionType",
  components: {InformationTable},
  data() {
    return {
      name: "",
      id: "",
      field: [
        {key: "no", label: "No.", _style: "width: 10%"},
        {key: "name", label: "Question Type", _style: "width: 70%"},
        {key: "editOptions", label: "#", _style: "width: 20%"}
      ]
    }
  },
  mounted() {
    this.$store.dispatch("questionType/onSetQuestionTypes")
  },
  computed: {
    ...mapGetters({
      questionTypes: "questionType/questionTypes"
    })
  },
  watch: {
    questionTypes(value) {
      this.emptyInitialValue()
    }
  },
  methods: {
    questionTypeHandle(type) {
      switch (type) {
        case "ADD":
          this.$store.dispatch("questionType/onAddQuestionType", {name: this.name})
          break
        case "EDIT":
          this.$store.dispatch("questionType/onEditQuestionType", {_id: this.id, name: this.name})
          break
      }
    },
    deleteItem(id) {
      this.$store.dispatch("questionType/onDeleteQuestionType", id)
    },
    editItem(item) {
      const editItem = this.questionTypes.find(element => element._id === item)
      this.name = editItem.name
      this.id = editItem._id
    },
    emptyInitialValue() {
      this.name = ""
      this.id = ""
    }
  }
}
</script>
