<template>
  <CCard>
    <CCardHeader>
      <CRow>
        <CCol class="align-self-center">
          <label class="mb-0 font-lg font-weight-bold">File</label>
        </CCol>
        <CCol class="text-right">
          <CButton @click="changeState" class="text-white mr-2" color="success" v-if="defaultState">
            <CIcon height="36" name="cil-send"/>
          </CButton>
          <CButton @click="changeState" class="text-white mr-2" color="danger" v-if="!defaultState">
            <CIcon height="36" name="cil-x"/>
          </CButton>
        </CCol>
      </CRow>
    </CCardHeader>
    <CCardBody class="pt-0">
      <CCollapse :show="defaultState">
        <files
            :fields="fields"
            :items="files"
            :profileId="profile.id"
            @deleteFile="confirmDeleteFile"
            @fileAccepted="acceptFile"/>
      </CCollapse>
      <send-file
          class="mt-4"
          v-if="!defaultState"/>
    </CCardBody>
  </CCard>
</template>

<script>
import {mapGetters} from "vuex"
import Files from "@/components/file/files";
import SendFile from "@/components/file/sendFile";

export default {
  name: "MainFile",
  components: {SendFile, Files},
  data() {
    return {
      tempId: "",
      defaultState: true,
      fields: [
        {key: "no", label: "No.", _style: "width: 5%"},
        {key: "fileName", label: "File name", _style: "width:18%"},
        {key: "fileDescription", label: "Description", _style: "width:20%"},
        {key: "createdAt", label: "Date", _style: "width:10%"},
        {key: "fileStatus", label: "Status", _style: "width:10%"},
        {key: "fileSender", label: "Sender", _style: "width:10%"},
        {key: "fileReceiver", label: "Receiver", _style: "width:10%"},
        {key: "fileOptions", label: "#", _style: "width:15%"}
      ]
    }
  },
  mounted() {
    this.$store.dispatch("file/onSetFiles")
  },
  computed: {
    ...mapGetters({
      files: "file/getFiles",
      profile: "profile/userInformation",
      actionStatus: "action/actionStatus"
    })
  },
  watch: {
    files(value) {
      this.defaultState = true
    },
    actionStatus(value) {
      if (value) {
        this.deleteFile()
      }
    },
  },
  methods: {
    changeState() {
      this.defaultState = !this.defaultState
    },
    acceptFile(id) {
      let body = {}
      body.fileId = id
      body.isReceived = true
      if (this.profile.role === "admin") {
        body.receiver = this.profile._id
      }
      this.$store.dispatch("file/onAcceptFile", body)
    },
    confirmDeleteFile(id) {
      this.tempId = id
      let body = {
        title: "Notification",
        color: "warning",
        status: true,
        text: "Do you really want to delete the file?"
      }
      this.$store.commit("modal/onSetConfirmActionModalStatus", body)
    },
    deleteFile() {
      this.$store.dispatch("file/onDeleteFile", this.tempId)
      this.$store.commit("modal/onSetConfirmActionModalStatus", {status: false})
    }
  }
}
</script>
