<template>
  <CDataTable
      :fields="fields"
      :items="items"
      :items-per-page="5"
      pagination
      sorter>
    <template #remembering="{item}">
      <td>
        {{ getTypeAmount("remembering", item.type) }}
      </td>
    </template>
    <template #understanding="{item}">
      <td>
        {{ getTypeAmount("understanding", item.type) }}
      </td>
    </template>
    <template #application="{item}">
      <td>
        {{ getTypeAmount("application", item.type) }}
      </td>
    </template>
    <template #problemsolving="{item}">
      <td>
        {{ getTypeAmount("problemsolving", item.type) }}
      </td>
    </template>
    <template #topicName="{item}">
      <td>
        <label>{{ item.topicName === undefined || !item.topicName ? "-" : item.topicName }}</label>
      </td>
    </template>
    <template #teacherName="{item}">
      <td>
        <label>{{ item.teacherName === undefined ? "-" : item.teacherName }}</label>
      </td>
    </template>
    <template #userName="{item}">
      <td>
        {{item.userName ? item.userName : "-"}}
      </td>
    </template>
    <template #keyword="{item}">
      <td>
        <label>{{ item.keyword.length > 0 ? getKeyword(item.keyword) : "-" }}</label>
      </td>
    </template>
    <template #minDifficultyIndex="{item}">
      <td>{{ item.minDifficultyIndex ? item.minDifficultyIndex : "-" }}</td>
    </template>
    <template #maxDifficultyIndex="{item}">
      <td>{{ item.maxDifficultyIndex ? item.maxDifficultyIndex : "-" }}</td>
    </template>
    <template #minDiscriminationIndex="{item}">
      <td>{{ item.minDiscriminationIndex ? item.minDiscriminationIndex : "-" }}</td>
    </template>
    <template #maxDiscriminationIndex="{item}">
      <td>{{ item.maxDiscriminationIndex ? item.maxDiscriminationIndex : "-" }}</td>
    </template>
  </CDataTable>
</template>

<script>
export default {
  name: "ExamSetTable",
  props: {
    fields: Array,
    items: Array
  },
  methods: {
    getTypeAmount(type, lists) {
      for (let i = 0; i < lists.length; i++) {
        if (lists[i].name === type) {
          return lists[i].amount
        }
      }
      return "-"
    },
    getKeyword(data) {
      let body = "";
      for (let i = 0; i < data.length; i++) {
        body += data[i]
        if (i !== data.length - 1) body += ", "
      }
      return body
    }
  }
}
</script>
