<template>
  <CDataTable
      :fields="fields"
      :items="items"
      :items-per-page="7"
      hover
      pagination
      sorter>
    <template #topicName="{item,index}">
      <td>
        <label v-if="index !== editIndex">{{ item.name }}</label>
        <CInput @input="typeTopicName" v-if="index === editIndex" v-model="item.name"/>
      </td>
    </template>
    <template #options="{item,index}">
      <td class="text-right" v-if="!editState">
        <CButton @click="changeEditTopicState(item,index)" class="text-white mr-2" color="warning">แก้ไข</CButton>
        <CButton @click="deleteTopic(item)" color="danger">ลบ</CButton>
      </td>
      <td class="text-right" v-if="editState">
        <CButton @click="changeEditTopicState(item,index)" class="text-white mr-2" color="dark">ยกเลิก</CButton>
        <CButton @click="confirmEditTopic(item)" color="danger">ยืนยัน</CButton>
      </td>
    </template>
  </CDataTable>
</template>

<script>
export default {
  name: "TopicTable",
  props: {
    items: Array,
    fields: Array
  },
  data() {
    return {
      name: "",
      editIndex: undefined,
      editState: false
    }
  },
  methods: {
    changeEditTopicState(value, index) {
      this.editState = !this.editState
      if (this.editIndex === undefined) {
        this.editIndex = index
      } else {
        this.editIndex = undefined
      }

    },
    confirmEditTopic(value) {
      this.$store.dispatch("topic/onEditTopicName", value)
      this.editIndex = undefined
      this.editState = false
    },
    deleteTopic(value) {
      alert(JSON.stringify(value))
    },
    typeTopicName(value) {
      this.name = value
    }
  }
}
</script>
