<template>
  <div>
    <CRow>
      <CCol>
        <CInput class="mb-0" label="Examset Name:" placeholder="Please enter the exam set name" v-model="name"/>
      </CCol>
    </CRow>
    <hr>
    <CRow>
      <CCol>
        <CSelect
            :horizontal="{label:'col-sm-3',input:'col-sm-9'}"
            :options="courseOptions"
            @update:value="onSelectCourse"
            label="Course"
            placeholder="Please select a course"
        />
        <CSelect
            :horizontal="{label:'col-sm-3',input:'col-sm-9'}"
            :options="topicOptions"
            @update:value="onSelectTopic"
            label="Topic"
            placeholder="Please select a topic"
        />
        <CSelect
            :horizontal="{label:'col-sm-3',input:'col-sm-9'}"
            :options="teacherOptions"
            @update:value="onSelectTeacher"
            label="Teacher"
            placeholder="Please select a teacher"
        />
        <CInput :horizontal="{label:'col-sm-3',input:'col-sm-9'}" @input="totalAmountInput" label="Total" min="0"
                placeholder="0"
                type="number" v-model="form.totalAmount"/>
      </CCol>
      <CCol v-if="form.type.length > 0">
        <CInput
            :horizontal="{label:'col-sm-5',input:'col-sm-7'}"
            :key="type._id"
            :label="type.label"
            @change="checkTypeAmount()"
            min="0"
            placeholder="Please enter the number of exam"
            type="number"
            v-for="(type,index) in questionTypeOptions"
            v-model="form.type[index].amount"/>
      </CCol>
      <CCol>
        <CInput :horizontal="{label:'col-sm-5',input:'col-sm-7'}"
                @change="checkInputValidation('minP',form.minDifficultyIndex)"
                label="Min p-value" min="0" placeholder="Minimum Difficulty Index"
                type="number" v-model="form.minDifficultyIndex"/>
        <CInput :horizontal="{label:'col-sm-5',input:'col-sm-7'}"
                @change="checkInputValidation('maxP',form.maxDifficultyIndex)" label="Max p-value" min="0"
                placeholder="Maximum Difficulty Index" type="number"
                v-model="form.maxDifficultyIndex"/>
        <CInput :horizontal="{label:'col-sm-5',input:'col-sm-7'}"
                @change="checkInputValidation('minR',form.minDiscriminationIndex)" label="Min r-value"
                min="0" placeholder="Minimum Discrimination Index" type="number"
                v-model="form.minDiscriminationIndex"/>
        <CInput :horizontal="{label:'col-sm-5',input:'col-sm-7'}"
                @change="checkInputValidation('maxR',form.maxDiscriminationIndex)" label="Max r-value"
                min="0" placeholder="Maximum Discrimination Index" type="number"
                v-model="form.maxDiscriminationIndex"/>
      </CCol>
    </CRow>
    <CRow>
      <CCol col="4">
        <CInput :horizontal="{label:'col-sm-3',input:'col-sm-9'}" label="Keyword"
                placeholder="Please enter the keyword" type="text" v-model="tempKeyword"/>
      </CCol>
      <CCol col="1">
        <CButton @click="addKeyword" color="success">Add</CButton>
      </CCol>
      <CCol col="6">
        <CButton :key="index" @click="deleteKeyword(index)" class="mr-1" color="danger"
                 v-for="(keyword, index) in form.keyword">{{ keyword }}
        </CButton>
      </CCol>
    </CRow>
    <hr>
    <CRow class="mb-3">
      <CCol class="text-right">
        <CButton
            :disabled="validationButton"
            @click="addTOSList"
            class="w-100"
            color="info"
        >ADD
        </CButton>
      </CCol>
    </CRow>
    <CCard v-if="tos.length > 0">
      <CCardHeader>
        Exam set information
      </CCardHeader>
      <CCardBody>
        <exam-set-table
            :fields="fields"
            :items="tos"/>
        <CRow>
          <CCol>
            <CButton :disabled="randomValidation" @click="randomExamSet" color="success">
              Random Exam Set
            </CButton>
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import {mapGetters} from "vuex"
import ExamSetTable from "@/components/ExamSetTable";

export default {
  name: "addExamSet",
  components: {ExamSetTable},
  data() {
    return {
      courseOptions: [],
      topicOptions: [],
      teacherOptions: [],
      questionTypeOptions: [],
      courseSelected: false,
      tempKeyword: "",
      topicName: "",
      teacherName: "",
      form: {
        // Send to DB
        course: "",
        topic: "",
        user: "",
        type: [],
        minDifficultyIndex: null,
        maxDifficultyIndex: null,
        minDiscriminationIndex: null,
        maxDiscriminationIndex: null,
        keyword: [],
        totalAmount: 0,

        // Only show to user
        topicName: "",
        userName: "",
        courseName: ""
      },
      tos: [],
      name: "",
      fields: [
        {key: "courseName", label: "Course", _style: "width:25%"},
        {key: "topicName", label: "Topic", _style: "min-width:50%"},
        {key: "minDifficultyIndex", label: "Min difficulty index"},
        {key: "maxDifficultyIndex", label: "Max difficulty index"},
        {key: "minDiscriminationIndex", label: "Min discrimination index"},
        {key: "maxDiscriminationIndex", label: "Max discrimination index"},
        {key: "totalAmount", label: "Total amount", _style: "width:20%"},
        {key: "keyword", label: "Keyword"},
        {key: "userName", label: "User"}
      ],
      amount: 0
    }
  },
  mounted() {
    this.$store.dispatch("course/onSetCourses")
    this.$store.dispatch("user/onSetUsers")
    this.$store.dispatch("questionType/onSetQuestionTypes")
  },
  computed: {
    ...mapGetters({
      courses: "course/getCourses",
      users: "user/getUsers",
      questionTypes: "questionType/questionTypes"
    }),
    validationButton() {
      if (this.form.course && this.form.totalAmount > 0) {
        return false
      } else {
        return true
      }
    },
    randomValidation() {
      if (this.name !== "" && this.tos.length > 0) {
        return false
      } else {
        return true
      }
    }
  },
  watch: {
    questionTypes(value) {
      this.setQuestionType()
      value.forEach(type => {
        this.fields.push({
          label: type.name,
          key: type.name.toLowerCase().replace(/\s/g, '')
        })
      })
    },
    courses(value) {
      for (let i = 0; i < value.length; i++) {
        let body = {}
        body.value = value[i]
        body.label = value[i].courseCode + ": " + value[i].name
        this.courseOptions.push(body)
      }
    },
    users(value) {
      for (let i = 0; i < value.length; i++) {
        let body = {}
        if (value[i].role !== "admin") {
          body.value = value[i]
          body.label = value[i].firstName + " " + value[i].lastName
        }
        this.teacherOptions.push(body)
      }
    },
  },
  methods: {
    checkTypeAmount() {
      this.amount = 0
      this.form.type.forEach((type) => {
        this.amount += +type.amount
      })
      this.form.totalAmount = this.amount
    },
    checkInputValidation(type, amount) {
      switch (type) {
        case "minP":
          if (amount > 1) {
            this.form.minDifficultyIndex = 1
          } else if (amount < 0) {
            this.form.minDifficultyIndex = 0
          }
          break
        case "maxP":
          if (amount > 1) {
            this.form.maxDifficultyIndex = 1
          } else if (amount < 0) {
            this.form.maxDifficultyIndex = 0
          }
          break
        case "minR":
          if (amount > 1) {
            this.form.minDiscriminationIndex = 1
          } else if (amount < 0) {
            this.form.minDiscriminationIndex = 0
          }
          break
        case "maxR":
          if (amount > 1) {
            this.form.maxDiscriminationIndex = 1
          } else if (amount < 0) {
            this.form.maxDiscriminationIndex = 0
          }
          break
      }
    },
    totalAmountInput() {
      this.form.type[0].amount = 0
      this.form.type[1].amount = 0
      this.form.type[2].amount = 0
    },
    onSelectCourse(e) {
      this.courseSelected = true
      this.topicOptions = []
      for (let i = 0; i < e.topics.length; i++) {
        let body = {}
        body.value = e.topics[i]
        body.label = e.topics[i].name
        this.topicOptions.push(body)
      }
      this.form.course = e.id
      this.form.courseName = e.name
      this.form.topicName = ""
      this.form.topic = ""
      // this.tos = []
    },
    onSelectTopic(e) {
      this.form.topic = e._id
      this.form.topicName = e.name
    },
    onSelectTeacher(e) {
      this.form.user = e._id
      this.form.userName = e.firstName
    },
    addTOSList() {
      const keyword = [...this.form.keyword]
      this.tos.push({...this.form, keyword})
      this.defaultForm()
      this.setQuestionType()
    },
    randomExamSet() {
      // for(let i = 0 ; i < this.tos.length ; i++){
      //   // delete this.tos[i].courseName
      //   // delete this.tos[i].topicName
      //   // delete this.tos[i].userName
      //   for(let j = 0; j < this.tos[i].type.length; j++){
      //     // if(this.tos[i].type[j].name) delete this.tos[i].type[j].name
      //
      //   }
      // }
      this.$store.dispatch("exam/onRandomExamByTOS", {tos: this.tos, name: this.name})
      this.tos = []
    },
    addKeyword() {
      if (this.tempKeyword !== "") {
        this.form.keyword.push(...this.tempKeyword.trim().split(/\s*,\s*/))
        this.tempKeyword = ""
      }else{
        alert("Please fill in the keyword before")
      }
    },
    deleteKeyword(index) {
      this.form.keyword.splice(index, 1)
    },
    setQuestionType() {
      this.questionTypeOptions = []
      this.questionTypes ? this.questionTypes.forEach((type) => {
        this.questionTypeOptions.push({
          label: type.name,
          value: type._id
        })
        this.form.type.push({
          amount: 0,
          id: type._id,
          name: type.name.toLowerCase().replace(/\s/g, '')
        })
      }) : null
    },
    defaultForm() {
      this.form = {
        // Send to DB
        course: this.form.course,
        topic: this.form.topic,
        user: this.form.user,
        type: [],
        minDifficultyIndex: null,
        maxDifficultyIndex: null,
        minDiscriminationIndex: null,
        maxDiscriminationIndex: null,
        keyword: [],
        totalAmount: 0,

        // Only show to user
        topicName: this.form.topicName,
        userName: this.form.userName,
        courseName: this.form.courseName
      }
    }
  }
}
</script>
