<template>
  <div>
    <CCard class="mt-3" id="wordDocument">
      <CCardHeader>
        <CRow class="text-center">
          <CCol>
            <img alt="MFU" src="@/assets/img/logo.png" style="width: 12%">
          </CCol>
        </CRow>
        <h3 class="text-uppercase text-center m-0 mb-2">Mae Fah Luang University</h3>
        <h6 class="text-uppercase text-center">Examset Analytic Report</h6>
        <h6 class="text-center">{{ examSet.code }} - {{ examSet.name }} - Created: {{ getDate(examSet.createdAt) }} -
          Number of use: {{ examSet.numberOfUse }}</h6>
      </CCardHeader>
      <CCardBody class="pl-4 pr-5">
        <div :key="index" v-for="(item,index) in examSet.exam">
          <CRow class="mb-2">
            <CCol>
              <span class="font-weight-bold">Question {{ index + 1 }} :</span>
              {{ item.question }}
            </CCol>
          </CRow>
          <CRow class="mb-2" v-if="item.questionPhoto.length > 0">
            <CCol>
              <CRow>
                <CCol>
                  <span class="font-weight-bold">Question Photo :</span>
                </CCol>
              </CRow>
              <CRow v-for="(photo, indexPhoto) in item.questionPhoto" :key="indexPhoto" class="mb-3">
                <CCol>
                  {{indexPhoto+1}}: {{photo.name}}<br>
                  URL: {{photo.url}}
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow :key="answer._id" v-for="(answer,answerIndex) in item.answers">
            <CCol>
              <CRow>
                <CCol :class="answer.url === 'no-url' ? '':'font-weight-bold'">
                  {{ answers[answerIndex] }}:
                  {{ answer.answerText }}
                </CCol>
              </CRow>
              <CRow v-if="answer.url !== 'no-url'" class="mb-3">
                <CCol>
                  Photo: {{answer.url}}
                </CCol>
              </CRow>
            </CCol>
          </CRow>
          <CRow class="mt-2 mb-3">
            <CCol>
              Correct answer:
              {{ getCorrectAnswer(item.answers) }}
            </CCol>
          </CRow>
          <CRow>
            <CCol>
              <small>Course: {{ item.course.name }}</small><br>
              <small>Topic: {{ item.topic.name }}</small><br>
              <small>Type: {{ item.questionType.name }}</small><br>
              <small>Keyword: {{ getKeyword(item.keyword) }}</small>
            </CCol>
          </CRow>
          <hr v-if="index !== examSet.exam.length-1">
        </div>
      </CCardBody>
    </CCard>
    <CCardFooter class="text-right">
      <CButton @click="cancel" class="text-white mr-2" color="danger"
               v-c-tooltip="{content: 'CANCEL', active:false }">
        <CIcon height="36" name="cil-x"/>
      </CButton>

      <CButton @click="exportToWord" class="text-white mr-2" color="info"
               v-c-tooltip="{content: 'Download as WORD file', active:false }">
        <CIcon height="36" name="cil-print"/>
      </CButton>
    </CCardFooter>
  </div>
</template>

<script>

export default {
  name: "examSetInformation",
  props: {
    examSet: Object
  },
  data() {
    return {
      answers: ["A", "B", "C", "D", "E"]
    }
  },
  methods: {
    getKeyword(data) {
      let body = "";
      for (let i = 0; i < data.length; i++) {
        body += data[i].name
        if (i !== data.length - 1) body += ", "
      }
      return body
    },
    getDate(dateFormat) {
      const date = dateFormat.slice(0, 10).split("-")
      return date[2] + "/" + date[1] + "/" + date[0]
    },
    getCorrectAnswer(answerArray) {
      const correctAnswerIndex = answerArray.findIndex((element) => element.isCorrect)
      return this.answers[correctAnswerIndex] + ". " + answerArray[correctAnswerIndex].answerText
    },
    cancel() {
      this.$emit("changeToDefaultState")
    },
    exportToWord() {
      const content = document.getElementById("wordDocument").innerHTML
      let vm = this,
          word = `<html xmlns:o='urn:schemas-microsoft-com:office:office xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Item-Banking System of School of Medicine of Mae Fah Luang University</title></head>
        <body><div>
			<div class="row">
			<hr>
			${content}
			<hr>
			</div>
		</div></body>
		</html>`;
      let source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(word);
      let fileDownload = document.createElement('a');
      document.body.appendChild(fileDownload);
      fileDownload.href = source;
      fileDownload.download = 'document.doc';
      fileDownload.click();
      document.body.removeChild(fileDownload);
    },
  }
}
</script>
