<template>
  <information-table
      :fields="fields"
      :items="items"
      @examSetAction="examSetAction"/>
</template>

<script>
import InformationTable from "@/components/InformationTable";

export default {
  name: "examsets",
  props: {
    items: Array,
    fields: Array
  },
  components: {InformationTable},
  methods: {
    examSetAction(value) {
      this.$emit("examSetAction", value)
    }
  }
}
</script>
