<template>
  <div>
    <CRow>
      <CCol>
        <CSelect
            :horizontal="true"
            :options="courseOptions"
            @update:value="onSelectCourse"
            label="Course"
            placeholder="Please select a course"
        />
      </CCol>
      <CCol>
        <CSelect
            :horizontal="true"
            :options="topicOptions"
            @update:value="onSelectTopic"
            label="Topic"
            placeholder="Please select a topic"
        />
      </CCol>
      <CCol>
        <CSelect
            :horizontal="true"
            :options="questionTypeOptions"
            @update:value="onSelectQuestionType"
            label="Type"
            placeholder="Please select a question type"
        />
      </CCol>
    </CRow>
    <CRow>
      <CCol>
        <CSelect
            :horizontal="true"
            :options="teacherOptions"
            @update:value="onSelectTeacher"
            label="Teacher"
            placeholder="Please select a teacher"
        />
      </CCol>
      <CCol>
        <CInput :horizontal="{label:'col-sm-3', input:'col-sm-9'}" label="p-value"
                max="1" min="0" placeholder="Please fill in the p-value"
                type="number" v-model="form.difficultyIndex"/>
      </CCol>
      <CCol>
        <CInput :horizontal="{label:'col-sm-3', input:'col-sm-9'}" label="r-value"
                max="1" min="0" placeholder="Please fill in the r-value"
                type="number" v-model="form.discriminationIndex"/>
      </CCol>
    </CRow>
    <CRow>
      <CCol col="4">
        <CInput col="9" horizontal label="Keyword" placeholder="Please enter a keyword" type="text"
                v-model="tempKeyword"/>
      </CCol>
      <CCol col="1">
        <CButton @click="addKeyword" color="success">Add</CButton>
      </CCol>
      <CCol>
        <CButton :key="index" @click="deleteKeyword(index)" class="mr-1" color="danger"
                 v-for="(keyword,index) in tempKeywordList">{{ keyword }}
        </CButton>
      </CCol>
    </CRow>
    <hr>
    Question:
    <CTextarea class="mt-2" placeholder="Please enter the question?" v-model="form.question"/>
    <CRow class="mb-2">
      <CCol col="1">
        Question Photo
      </CCol>
      <CCol col="3">
        <CRow>
          <input @change="selectFile('question')" class="mb-2" id="questionFiles" ref="questionFiles"
                 type="file"/>
        </CRow>
        <CRow>
          <span>{{ form.files.questionPhoto.length > 0 ? '' : 'Please upload the image' }}</span>
        </CRow>
      </CCol>
    </CRow>
    <CRow v-if="form.files.questionPhoto.length > 0">
      <CCol class="p-3">
        <exam-table :fields="questionPhotoFields" :items="form.files.questionPhoto"
                    @deleteQuestionImage="deleteQuestionImage"/>
      </CCol>
    </CRow>
    <CRow class="mb-3">
      <CCol col="1">
        Choices:
      </CCol>
      <CCol>
        <input id="4" name="answerType" type="radio" v-model="form.answerType" value="Text"><label class="ml-2 mr-4"
                                                                                                   for="4">Text</label>
        <input id="5" name="answerType" type="radio" v-model="form.answerType" value="Photo"><label class="ml-2 mr-4"
                                                                                                    for="5">Photo</label>
      </CCol>
    </CRow>
    <CRow>
      <CCol class="pt-1" col="1">
        Answer 1
      </CCol>
      <CCol col="10">
        <CInput placeholder="Please enter the answer 1" type="text" v-if="form.answerType==='Text'"
                v-model="form.answers[0].answerText"/>
        <input @change="selectFile('answer1')" class="mb-2" multiple ref="answer1Files" type="file" v-else/>
      </CCol>
      <CCol col="1">
        <input :value="0" id="6" name="answerChoice" type="radio" v-model="rightAnswerIndex"><label class="mt-3"
                                                                                                    for="6"></label>
      </CCol>
    </CRow>
    <CRow>
      <CCol class="pt-1" col="1">
        Answer 2
      </CCol>
      <CCol col="10">
        <CInput placeholder="Please enter the answer 2" type="text" v-if="form.answerType==='Text'"
                v-model="form.answers[1].answerText"/>
        <input @change="selectFile('answer2')" class="mb-2" multiple ref="answer2Files" type="file" v-else/>
      </CCol>
      <CCol col="1">
        <input :value="1" id="7" name="answerChoice" type="radio" v-model="rightAnswerIndex"><label class="mt-3"
                                                                                                    for="7"></label>
      </CCol>
    </CRow>
    <CRow>
      <CCol class="pt-1" col="1">
        Answer 3
      </CCol>
      <CCol col="10">
        <CInput placeholder="Please enter the answer 3" type="text" v-if="form.answerType==='Text'"
                v-model="form.answers[2].answerText"/>
        <input @change="selectFile(`answer3`)" class="mb-2" multiple ref="answer3Files" type="file" v-else/>
      </CCol>
      <CCol col="1">
        <input :value="2" id="8" name="answerChoice" type="radio" v-model="rightAnswerIndex"><label class="mt-3"
                                                                                                    for="8"></label>
      </CCol>
    </CRow>
    <CRow>
      <CCol class="pt-1" col="1">
        Answer 4
      </CCol>
      <CCol col="10">
        <CInput placeholder="Please enter the answer 4" type="text" v-if="form.answerType==='Text'"
                v-model="form.answers[3].answerText"/>
        <input @change="selectFile('answer4')" class="mb-2" multiple ref="answer4Files" type="file" v-else/>
      </CCol>
      <CCol col="1">
        <input :value="3" id="9" name="answerChoice" type="radio" v-model="rightAnswerIndex"><label class="mt-3"
                                                                                                    for="9"></label>
      </CCol>
    </CRow>
    <CRow>
      <CCol class="pt-1" col="1">
        Answer 5
      </CCol>
      <CCol col="10">
        <CInput placeholder="Please enter the answer 5" type="text" v-if="form.answerType==='Text'"
                v-model="form.answers[4].answerText"/>
        <input @change="selectFile('answer5')" class="mb-2" multiple ref="answer5Files" type="file" v-else/>
      </CCol>
      <CCol col="1">
        <input :value="4" id="10" name="answerChoice" type="radio" v-model="rightAnswerIndex"><label class="mt-3"
                                                                                                     for="10"></label>
      </CCol>
    </CRow>
    <CButton :disabled="validationButton" @click="addQuestionToLists" class="w-100 mt-2" color="success">Add QUESTION
    </CButton>
    <hr>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import ExamTable from "@/components/widget/ExamTable";

export default {
  name: "addExam",
  components: {ExamTable},
  data() {
    return {
      courseOptions: [],
      topicOptions: [],
      teacherOptions: [],
      questionTypeOptions: [],
      rightAnswerIndex: -999,
      questionLists: [],
      previewImageOrder: 0,

      tempKeyword: "",
      tempKeywordList: [],

      questionPhotoFields: [
        {key: "no", label: "No."},
        {key: "name", label: "File name"},
        {key: "type", label: "File type"},
        {key: "size", label: "File size"},
        {key: "questionPhotoOptions", label: "#"}
      ],

      form: {
        answerType: "Text",
        question: "",
        files: {
          questionPhoto: [],
          answerA: {},
          answerB: {},
          answerC: {},
          answerD: {},
          answerE: {},
        },
        answers: [
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          }
        ],
        difficultyIndex: null,
        discriminationIndex: null,
        keyword: [],
        course: "",
        topic: "",
        user: "",
        teacherName: "",
        topicName: "",
        courseName: "",
        questionType: ""
      },

      fields: [
        {key: "courseName", label: "Course"},
        {key: "topicName", label: "Topic"},
        {key: "teacherName", label: "Teacher"},
        {key: "questionPhoto", label: "Question Photo"},
        {key: "question", label: "Question"},
        {key: "answers", label: "Answer"},
        {key: "keyword", label: "Keyword"},
        {key: "questionType", label: "Type"},
        {key: "difficultyIndex", label: "Difficulty"},
        {key: "discriminationIndex", label: "Discrimination"}
      ],
      previewQuestionImage: []
    }
  },
  mounted() {
    this.onSetupMenu()
  },
  computed: {
    ...mapGetters({
      courses: "course/getCourses",
      users: "user/getUsers",
      questionTypes: "questionType/questionTypes"
    }),
    validationButton() {
      if (this.form.topic === ""
          || this.form.type === ""
          || this.form.question === ""
          || this.rightAnswerIndex === -999) {
        return true
      } else {
        if(this.form.answerType === "Text"){
          if(this.form.form.answers[0].answerText === "" || this.form.form.answers[1].answerText === "" ||this.form.form.answers[2].answerText === ""
          || this.form.form.answers[3].answerText === ""||this.form.form.answers[4].answerText === ""){
            return true
          }else{
            return false
          }
        }else if(this.form.answerType === "Photo"){
          if(this.form.files.answerA.length === 0 || this.form.files.answerB.length === 0 ||this.form.files.answerC.length === 0
          ||this.form.files.answerD.length === 0||this.form.files.answerE.length === 0){
            return true
          }else{
            return false
          }
        }
      }
    }
  },
  watch: {
    questionTypes(value) {
      this.questionTypeOptions = []
      value.forEach((type) => {
        this.questionTypeOptions.push({
          label: type.name,
          value: type._id
        })
      })
    },
    courses(value) {
      for (let i = 0; i < value.length; i++) {
        let body = {}
        body.value = value[i]
        body.label = value[i].courseCode + ": " + value[i].name
        this.courseOptions.push(body)
      }
    },
    users(value) {
      this.teacherOptions = []
      for (let i = 0; i < value.length; i++) {
        if (value[i].role !== "admin") {
          let body = {}
          body.value = value[i]
          body.label = value[i].firstName + " " + value[i].lastName
          this.teacherOptions.push(body)
        }
      }
    },
    rightAnswerIndex(value) {
      this.form.answers.forEach((item, index) => {
        if (value !== index) {
          item.isCorrect = false
        } else {
          item.isCorrect = true
        }
      })
    },
    "form.answerType"(value) {
      this.form.answerType = value
      this.form.files = {
        questionPhoto: this.form.files.questionPhoto,
        answerA: {},
        answerB: {},
        answerC: {},
        answerD: {},
        answerE: {},
      },
          this.form.answers = [
            {
              answerText: "",
              isCorrect: false
            },
            {
              answerText: "",
              isCorrect: false
            },
            {
              answerText: "",
              isCorrect: false
            },
            {
              answerText: "",
              isCorrect: false
            },
            {
              answerText: "",
              isCorrect: false
            }
          ]
    }
  },
  methods: {
    deleteImage() {
      this.form.files.questionPhoto = []
    },
    deleteQuestionImage(index) {
      this.form.files.questionPhoto.splice(index, 1)
    },
    onSetupMenu() {
      this.$store.dispatch("course/onSetCourses")
      this.$store.dispatch("user/onSetUsers")
      this.$store.dispatch("questionType/onSetQuestionTypes")
    },
    onSelectCourse(e) {
      this.topicOptions = []
      this.form.courseName = e.name
      for (let i = 0; i < e.topics.length; i++) {
        let body = {}
        body.value = e.topics[i]
        body.label = e.topics[i].name
        this.topicOptions.push(body)
      }
      this.form.course = e._id
    },
    onSelectTopic(e) {
      this.form.topic = e._id
      this.form.topicName = e.name
    },
    onSelectTeacher(e) {
      this.form.user = e._id
      this.form.teacherName = e.firstName
    },
    onSelectQuestionType(e) {
      this.form.questionType = e
    },
    addKeyword() {
      if (this.tempKeyword !== "") this.tempKeywordList.push(this.tempKeyword)
      this.tempKeyword = ""
    },
    deleteKeyword(index) {
      this.tempKeywordList.splice(index, 1)
    },
    selectFile(type) {
      if (type === "question") {
        this.form.files.questionPhoto.push(this.$refs.questionFiles.files[0]);
        // let image = document.getElementById('output');
        // image.src = URL.createObjectURL(this.$refs.questionFiles.files[0]);
      } else if (type === "answer1") {
        this.form.files.answerA = this.$refs.answer1Files.files[0];
      } else if (type === "answer2") {
        this.form.files.answerB = this.$refs.answer2Files.files[0];
      } else if (type === "answer3") {
        this.form.files.answerC = this.$refs.answer3Files.files[0];
      } else if (type === "answer4") {
        this.form.files.answerD = this.$refs.answer4Files.files[0];
      } else if (type === "answer5") {
        this.form.files.answerE = this.$refs.answer5Files.files[0];
      }
    },
    addQuestionToLists() {

      this.form.keyword = [...this.tempKeywordList]
      this.questionLists.push({...this.form})
      this.$store.dispatch("exam/onAddExamToSystem", this.questionLists)

      // this.tempKeywordList = []
      // this.form.keyword = []
    },
    emptyForm() {
      this.form = {
        question: "",
        files: {
          questionPhoto: [],
          answerA: {},
          answerB: {},
          answerC: {},
          answerD: {},
          answerE: {},
        },
        answers: [
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          },
          {
            answerText: "",
            isCorrect: false
          }
        ],
        difficultyIndex: null,
        discriminationIndex: null,
        keyword: [],
        topic: "",
        user: "",
        teacherName: "",
        topicName: "",
        courseName: "",
        questionType: "Remembering"
      }
    },
    addExamToSystem() {
      this.$store.dispatch("exam/onAddExamToSystem", this.questionLists)
    }
  }
}
</script>
