<template>
  <information-table
      :fields="fields"
      :items="items"/>
</template>

<script>
import InformationTable from "@/components/InformationTable";

export default {
  name: "exams",
  props: {
    items: Array,
    fields: Array
  },
  components: {InformationTable}
}
</script>
